*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
  }
header{
    background-color: #26154B;
    height: 90px;
}
.inner-width{
    max-width: 1000px;
    padding: 0 10px;

  }
  
  .logo{
    float: center;
    padding: 10px 0;
  
  }
  
  .logo img{
    height: 70px;
  }
  