* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #154056;
  height: 90px;
}
.inner-width {
  max-width: 1000px;
  padding: 0 10px;
}
.logo {
  float: center;
  padding: 10px 0;
}

.logo img {
  height: 70px;
}
.welcome {
  font-size: large;
  position: relative;
  font-style: normal;
  text-align: center;
}
.home {
  margin: 2rem;
  display: grid;
  gap: 5rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(3, minmax(10rem, 25rem));
  grid-auto-flow: dense;
  margin-bottom: 55px;
}
.home .card {
  max-height: 8rem;
  overflow: hidden;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.3rem #919191;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
}

.home .card:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 10px 4px #6f6e6e;
}

.card-header {
  display: flex;
  font-style: normal;
  font-weight: bold;
  flex-direction: column;
  position: absolute;
  margin-top: 1rem;
}

.card .card-header .title {
  font-stretch: normal;
  letter-spacing: 0.33px;
  color: #1c536e;
  font-size: 1.5rem;
}
