@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  margin-right: 800px;
}

.header {
  background-color: #1c536e;
  color: white;
  padding: -2rem 0rem;
}

.logo-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-contenedor a {
  text-decoration: none;
  color: white;
}

.menu {
  margin-right: 15%;
  margin-top: 0%;
  display: none;
}

.online input {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  float: right;
  display: relative;
  margin-left: 10px;
}

.online input:active {
  transform: translateY(-1px);
}

.online input:hover {
  background-color: #1caa5c;
  box-shadow: 0px 10px 20px rgba(194, 194, 194, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

a {
  text-decoration: none;
}

.welcome {
  font-size: large;
  display: inline-block;
  font-style: normal;
  text-align: center;
}

.home {
  margin: 3rem;
  display: grid;
  gap: 10rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(3, minmax(10rem, 20rem));
  grid-auto-flow: dense;
  margin-bottom: 40px;
}
.home .card {
  max-height: 10rem;
  max-width: 15rem;
  overflow: hidden;
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.3rem 0.2rem #919191;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  max-block-size: 5rem;
  position: relative;
}
.home .card:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 10px 5px #6f6e6e;
  background-color: #f3f3f3;
  transform: translateY(-8px);
}
.home .card:active {
  transform: translateY(2px);
}

.card-header {
  font-style: normal;
  font-weight: bold;
  flex-direction: column;
  position: absolute;
  margin-top: 0rem;
}
.icon {
}
.tittle {
  justify-content: center;
  text-align: center;
  margin-top: 3px;
  font-size: 1rem;
  font-style: normal;
  color: #1caa5c;
  cursor: pointer;
}
ol {
  list-style: none;
}
footer {
  position: flex;
  bottom: 0;
  height: 5%;
  background-color: #1caa5c;
  padding: 1rem;
  color: #fff;
  text-align: center;
  font-size: small;
}
p {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
#link {
  color: #fff;
  text-decoration: underline;
  font-size: medium;
  font-weight: 500;
}
#link:active {
  color: #000;
}
