@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.contenedor {
    margin-right: 800px;
}

.header {
    background-color: #1c536e;
    color: white;
    padding: -2rem 0rem;
}

.logo-contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-contenedor a {
    text-decoration: none;
    color: white;
}

.menu {
    margin-right: 15%;
    margin-top: 0%;
    display: none;
}

.online input {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 100;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: right;
    display: relative;
    margin-left: 10px;
}

.online input:active {
    transform: translateY(-1px);
}

.online input:hover {
    background-color: #1caa5c;
    box-shadow: 0px 10px 20px rgba(194, 194, 194, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#carouselExampleFade {
    position: relative;
    width: 70%;
    height: 50%;
    align-items: center;
    margin-left: 290px;
    margin-bottom: 5%;
}

.carousel-item img {
    border-radius: 20px;
}

.socio img {
    width: 68%;
    height: 400px;
    border-radius: 20px;
    margin-left: 300px;
}

.welcome {
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
}

.welcome b {
    color: #123444;
}

.home1 {
    margin-left: 17%;
    margin-top: 5%;
    display: grid;
    gap: 10rem;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(3, minmax(10rem, 20rem));
    grid-auto-flow: dense;
    margin-bottom: 70px;
}

.home1 .card1 {
    max-height: 10rem;
    max-width: 15rem;
    overflow: hidden;
    padding: 1rem;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0.3rem 0.3rem 0.2rem #919191;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.card1 a {
    text-decoration: none;
}

.icon {
    display: flex;
    max-block-size: 5rem;
    position: relative;
    margin-bottom: 25px;
    align-items: center;
}

.home1 .card1:hover {
    transform: translateY(-15px);
    box-shadow: 5px 5px 10px 5px #6f6e6e;
    background-color: #f3f3f3;
    transform: translateY(-8px);
}

.home1 .card1:active {
    transform: translateY(2px);
}

.card-header1 {
    font-style: normal;
    font-weight: bold;
    flex-direction: column;
    position: absolute;
    margin-top: 0rem;
}

.tittle {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1rem;
    font-style: normal;
    color: #1c536e;
    cursor: pointer;
}

ol {
    list-style: none;
}

footer {
    position: flex;
    bottom: 0;
    height: 5%;
    background-color: #123444;
    padding: 3rem;
    color: #fff;
    text-align: center;
    font-size: small;
}

p {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#link {
    color: #fff;
    text-decoration: underline;
    font-size: medium;
    font-weight: 500;
}

#link:active {
    color: #000;
}

.mobile-login {
    visibility: hidden;
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

    
    .socio img {
        height: 20%;
        width: 70%;
        margin-left: 17%;
    }

    .online .register {
        width: 170px;
        height: 50px;
        justify-content: center;
        background-color: #123444;
        color: white;
    }

    .header {
        padding: 0;
    }

    #carouselExampleFade {
        margin: 10%;
        width: 70%;
        padding: 0;
        display: none;
    }

    .online .banking {
        width: 8rem;
        height: 2rem;
        font-size: 8px;
        padding-left: 0.7rem;
    }

    header .register {
        visibility: hidden;
        display: none;
    }

    .mobile-login {
        visibility: visible;
        display: block;
        border-radius: 30px;
        position: fixed;
        right: 50px;
        bottom: 100px;
        box-shadow: 5px 5px 5px 2px rgb(156, 143, 143);
        width: 170px;
        height: 50px;
        z-index: 100;
    }

    .contenedor {
        margin-right: 10rem;
        width: 1rem;
        padding: 0.5rem;
    }

    #log {
        width: 10rem;
    }

    .card1 .card-header1 .title {
        padding: 5px;
        font-size: 1rem;
    }

    .home1 {
        justify-content: center;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
    }

    .welcome {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {}