body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #fffdf6;
}
.imagen-logo {
    width: 12rem;
    
}
.logo {
  display: flex;
  align-items: center;
  margin:1rem 1rem ;
  
}
.perfil {
  height: 3rem;
  margin: 0 1rem 0;
}

.header {
    width: 100%;
    background-color:#919191;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* .onli input:hover {
  background-color: #26e0a7;
  box-shadow: 0px 10px 20px rgba(194, 194, 194, 0.4);
  color: #fff;
  transform: translateY(-7px);
} */

.home {
    height: 100%;
    padding:3rem 1rem 3rem 1rem;
    background-color: #bec0c4;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
}

 .home .card {
  height: 8rem;
  max-width: 8rem;
  padding: 1rem;
  background: rgba(255, 34, 34, 0.05);
  border-radius: 15px;
  box-shadow: 0 0.2rem 0.3rem #919191;
  transition: all 0.25s;
}

/* .fa-gifts {
  color: #26e0a7;
  padding-bottom: 1rem;
  margin: 1rem;
  font-size: 3rem;
}
.fa-sack-dollar {
  color: #26e0a7;
  padding-bottom: 1rem;
  margin: 1rem;
  font-size: 3rem;
}
.fa-wallet {
  color: #26e0a7;
  padding-bottom: 1rem;
  margin: 1rem;
  font-size: 3rem;
} */

footer {
  position: flex;
  bottom: 0;
  height: 5%;
  background-color: #fffdf6;
  padding: 3rem;
  color: #132643;
  text-align: center;
  font-size: small;
}

li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#link {
  color: #fff;
  text-decoration: underline;
  font-size: medium;
  font-weight: 500;
}

#link:active {
  color: #000;
}
